@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik&display=swap');
@import 'init';

section {
    // min-height: 100vh;
    padding: 42px 0;

    @media screen and (max-width:766px) {
        padding: 24px 0;
    }
}

$hijau: #e9e99b;
$biru: #0074BF;

.banner {

    position: relative;
    min-height: 100vh;
    // overflow: hidden;

    .hehe {
        background: rgba(#e2f3f9, .7);
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        // overflow: hidden;
        top: 0;
        bottom: 0;
    }

    .wraps {
        display: block;
        // background: rgba(#e2f3f9, .7);
        width: 80vw;
        // transform: translate();
        margin: 0 auto;
        height: 100vh;
        position: absolute;
        transform: translate(15%, 0%);
    }

    .bgbg {
        position: absolute;
        left: 0;
        top: 0;
        filter: blur(3px);
        bottom: 0;
        right: 0;
        // overflow: hidden;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hape {
        position: absolute;
        left: 16px;
        top: 32px;
        width: 520px;
        animation: MoveUpDown 2.3s linear infinite;
        height: auto;

        @media screen and (max-width:766px) {
            width: 70vw;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .hape2 {
        position: absolute;
        left: 16px;
        bottom: -32px;
        width: 520px;
        height: auto;

        @media screen and (max-width:766px) {
            width: 70vw;
            bottom: initial;
            top: 15vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @keyframes MoveUpDown {

        0%,
        100% {
            left: 16px;
        }

        50% {
            left: 32px;
        }
    }

    .headline {
        position: absolute;
        right: 10%;
        top: 42px;
        width: 35%;

        @media screen and (max-width:766px) {
            transform: translate(0, 0);
            width: 100%;
            top: 50vh;
        }

        h1 {
            font-size: 3.5rem;
            margin-bottom: 0;
            color: $biru;

            @media screen and (max-width:766px) {
                font-size: 3rem;
            }
        }
    }
}

.usp {

    min-height: auto;


    &-icon {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        display: block;

        @media screen and (max-width:766px) {
            width: 25%;
            margin: 0 auto;
            text-align: center;
            display: inline-block;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-text {
        text-align: center;
        // font-weight: 600;
        color: #222;

        @media screen and (max-width:766px) {
            display: inline-block;
            text-align: left;
            width: 65%;
            vertical-align: top;
            margin: 0 0 8px 12px;
        }

        p {
            font-size: 14px;
        }
    }
}

.function {
    background: #f7f7f7;

    position: relative;
    overflow: hidden;
    min-height: 80vh;

    @media screen and (max-width:766px) {
        min-height: 100vh;
    }

    .wrap {
        display: block;
        background: #f7f7f7;
        // background: rgba(#e2f3f9, .7);
        width: 80vw;
        // transform: translate();
        margin: 0 auto;
        height: 100vh;
        position: absolute;
        transform: translate(15%, 0%);

        .hape {
            position: absolute;
            left: 16px;
            top: 32px;
            width: 520px;
            // animation: MoveUpDown 2.3s linear infinite;
            height: auto;

            @media screen and (max-width:766px) {
                top: 32px;
                width: 100%;
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .caranya {
            position: absolute;
            right: 10%;
            top: 42px;
            width: 35%;

            @media screen and (max-width:766px) {
                width: 100%;
                top: 45vh;
            }

            li {
                font-weight: 200;
                color: #222;
            }

            h2 {
                font-size: 2rem;
                margin-bottom: 0;
                color: $biru;
                margin-bottom: 16px;

                @media screen and (max-width:766px) {
                    margin-bottom: 4px;
                    margin-top: 16px;
                    font-size: 1.75rem;
                }
            }
        }
    }
}

.download {
    background: #f7f7f7;

    h2 {
        color: $biru;
        font-size: 2rem;
    }

    .imagess {
        display: block;
        margin: 0 auto;
        text-align: center;

        .app {
            display: inline-block;
            width: 40%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .hp {
        width: 100%;
        margin-top: 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.screenshoot {



    h2 {
        color: $biru;
        font-size: 2rem;
    }

    .autoplay {
        margin-top: 32px;

        @media screen and (max-width:766px) {
            margin-top: 16px;
        }
    }

    .images {
        width: auto;
        height: 420px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}