@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik&display=swap');
@import 'init';

section {
    // min-height: 100vh;
    padding: 42px 0;

    @media screen and (max-width:766px) {
        padding: 24px 0;
    }
}

$hijau: #e9e99b;
$biru: #0074BF;

.logonya {
    left: 5vw !important;
}
.banner {
    padding: 0 !important;
    position: relative;
    min-height: 100vh;
    // overflow: hidden;

    .hehe {
        background: rgba(#000,.7);
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        // overflow: hidden;
        top: 0;
        bottom: 0;
    }

    .wraps {
        display: block;
        // background: rgba(#e2f3f9, .7);
        width: 80vw;
        // transform: translate();
        margin: 0 auto;
        height: 100vh;
        position: absolute;
        // transform: translate(15%, 0%);
        left: 0vw;
    }

    .bgbg {
        // position: fixed;
        // left: 0;
        // top: 0;
        // // filter: blur(3px);
        // bottom: 0;
        // right: 0;
        // // overflow: hidden;
        // width: 100%;
        // height: 100%;

        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
        background-image: url("../img/cargo.jpg");

        /* Set a specific height */
        min-height: 100vh;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hape {
        position: absolute;
        left: 16px;
        top: 32px;
        width: 520px;
        animation: MoveUpDown 2.3s linear infinite;
        height: auto;

        @media screen and (max-width:766px) {
            width: 70vw;
            top: 10vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .hape2 {
        position: absolute;
        left: 16px;
        bottom: -32px;
        width: 520px;
        height: auto;

        @media screen and (max-width:766px) {
            width: 70vw;
            bottom: initial;
            top: 17vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @keyframes MoveUpDown {

        0%,
        100% {
            left: 16px;
        }

        50% {
            left: 32px;
        }
    }

    .headline {
        position: absolute;
        // right: 10%;
        top: 50vh;
        width: 35%;
        left: 5vw;

        @media screen and (max-width:766px) {
            transform: translate(0, 0);
            width: 100%;
            top: 50vh;
        }

        h1 {
            font-size: 3.5rem;
            margin-bottom: 0;
            color: $biru;

            @media screen and (max-width:766px) {
                font-size: 3rem;
            }
        }
        p {
            color: white;
        }
    }
}

.aboutus {
    h2 {
        color: $biru;
        font-size: 2rem;
    }
    .image {
        width: 100%;
        height: 240px;
        border-radius: 16px;
        img {
            width: 100%;
            border-radius: 16px;
            height: 100%;
            object-fit: cover;
        }
    }
}

.usp {

    min-height: auto;

    .ceki {
        transition: .3s;
        cursor: pointer;
        padding: 8px;
        border-radius: 8px;
        &:hover {
            box-shadow: 2px 3px 6px #bbb;
            background: linear-gradient(to bottom, #fafafa,$hijau);
            // background: $hijau;
            h3 {
                color: $biru;
            }

            // padding: 8px;
        }
    }
    &-icon {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: block;

        @media screen and (max-width:766px) {
            width: 25%;
            margin: 0 auto;
            text-align: center;
            display: inline-block;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-text {
        text-align: center;
        // font-weight: 600;
        color: #222;
        h3 {
            margin: 4px 0 0;
        }

        @media screen and (max-width:766px) {
            display: inline-block;
            text-align: left;
            width: 65%;
            vertical-align: top;
            margin: 0 0 8px 12px;
        }

        p {
            font-size: 14px;
        }
    }
}

.function {
    background: #f7f7f7;

    position: relative;
    overflow: hidden;
    min-height: 80vh;

    @media screen and (max-width:766px) {
        min-height: 100vh;
    }

    .wrap {
        display: block;
        background: #f7f7f7;
        // background: rgba(#e2f3f9, .7);
        width: 80vw;
        // transform: translate();
        margin: 0 auto;
        height: 100vh;
        position: absolute;
        transform: translate(15%, 0%);

        .hape {
            position: absolute;
            left: 16px;
            top: 32px;
            width: 520px;
            // animation: MoveUpDown 2.3s linear infinite;
            height: auto;

            @media screen and (max-width:766px) {
                top: 32px;
                width: 100%;
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .caranya {
            position: absolute;
            right: 10%;
            top: 42px;
            width: 35%;

            @media screen and (max-width:766px) {
                width: 100%;
                top: 45vh;
            }

            li {
                font-weight: 200;
                color: #222;
            }

            h2 {
                font-size: 2rem;
                margin-bottom: 0;
                color: $biru;
                margin-bottom: 16px;

                @media screen and (max-width:766px) {
                    margin-bottom: 4px;
                    margin-top: 16px;
                    font-size: 1.75rem;
                }
            }
        }
    }
}

.download {
    background: #f7f7f7;
    position: relative;
    height: 100vh;
    @media screen and (max-width:766px) {
        height: auto;
    }
    &-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h2 {
        color: $biru;
        font-size: 2rem;
    }

    p {
        font-size: 32px;
        @media screen and (max-width:766px) {
            font-size: 16px;
        }
    }

    .imagess {
        display: block;
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width:766px) {
            margin: 0;
            text-align: left;
        }

        .app {
            display: inline-block;
            width: 40%;
            transition: .3s;

            &:hover {
                opacity: .7;
            }

            @media screen and(max-width:766px) {
                width: 40%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .hp {
        width: 100%;
        margin-top: 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.screenshoot {



    h2 {
        color: $biru;
        font-size: 2rem;
    }

    .autoplay {
        margin-top: 32px;

        @media screen and (max-width:766px) {
            margin-top: 16px;
        }
    }

    .images {
        width: auto;
        height: 420px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}